<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Curriculo</h1>
<h3> Foto </h3>
<img src="https://avatars.githubusercontent.com/u/141375539?v=4" alt="imagem de perfil" width="200" height="200" title="yuyu perfil">
<h2> Desenvolvedor web</h2>
<h2> Yuri Alexander </h2>
<p> a cada saque acertado, eh um erro no codigo!</p>
<h3> Habilidades </h3>
<ul>
    <li> jogador de volei </li>
    <li> esforçado </li>
</ul>
<h4> Link para Redes Sociais </h4>
<p> Link Github: <a href="https://github.com/yuyukiinhttps://github.com/yuyukiin" title="yuyulinkgithub">Github </p> </a>
</body>
</html>